{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<section class="py-5">
    <div class="container">
        <div class="mb-4 d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
                <a href="{% url 'core:playground_filter' %}" class="btn btn-outline-primary mr-2">Filter</a>
                <a href="{% url 'core:playground_list' %}" class="btn btn-outline-warning mr-2">Clear Filter</a>
                {% if user.role == 'Owner' %}
                <a href="{% url 'core:playground_create' %}" class="btn btn-dark">Add Playground</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for playground in playgrounds %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm border-light h-100">
                    {% thumbnail playground.image 400x400 crop="smart" as im %}
                    <a href="{{ playground.get_absolute_url }}" class="position-relative d-block overflow-hidden">
                        <img src="{{ im.url }}" class="card-img-top" alt="{{ playground.name }}">
                    </a>
                    <div class="card-body">
                        <a href="{{ playground.get_absolute_url }}" class="text-decoration-none">
                            <h5 class="card-title mb-3">{{ playground.name }}</h5>
                        </a>
                        <div class="post-meta mb-3">
                            <i class="fas fa-map-marker-alt text-muted mr-2"></i>
                            {{ playground.city }}
                        </div>
                        <div class="post-meta mb-3">
                            <i class="fas fa-user text-muted mr-2"></i>
                            {{ playground.owner.fullname }}
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="text-muted font-small d-block mb-2">Type</span>
                                <span class="h6 text-dark font-weight-bold">{{ playground.grass_type|title }}</span>
                            </div>
                            <div>
                                <span class="text-muted font-small d-block mb-2">Capacity</span>
                                <span class="h6 text-dark font-weight-bold">{{ playground.capacity }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
