{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    <title>EL3B</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <a href="{% url 'home' %}" class="logo">EL3B</a>
            <nav class="nav">
                <a href="{% url 'home' %}"><i class="bi bi-hous-fill"></i>Home</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'playground-list'%}">Playgrounds</a>
                <a href="{% url 'slot-list'%}">Slots</a>
                <a href="{% url 'bookings' %}">Bookings</a>
                <a href="{% url 'logout' %}" class="btn btn-outline-success">Logout</a>
                {%else%}
                <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
                <a href=" {% url 'register' %}" class="btn btn-outline-success">Join Now</a>
                {% endif %}

            </nav>
        </div>
    </header>

    <main>

        <div class="container">
            {% if messages %}
            {% for message in messages%}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}

            {% endblock content %}
            {% block pagination %}
            {% if is_paginated %}
            <div class="d-flex align-items-center justify-content-center mb-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous%}
                        <li class="page-item">
                            <a class="page-link" href="{{request.path}}?page={{page_obj.pervious_page_number}}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {%endif%}

                        <li class="page-item"><a class="page-link" href="#">Page {{page_obj.number}} of
                                {{page_obj.paginator.num_pages}}</a></li>
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{request.path}}?page={{page_obj.next_page_number}}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
            {% endif %}
            {% endblock pagination %}
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; Copyrigth {% now "Y" %} by <a href="#">Mostafa Nasser</a></p>
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/jquery-3.6.4.min.js'%}"></script>

</body>

</html>