<!-- <footer class="bg-dark text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Footer Heading 1</h5>
                <p>Some text for the first footer section.</p>
            </div>
            <div class="col-md-6">
                <h5>Footer Heading 2</h5>
                <p>Some text for the second footer section.</p>
            </div>
        </div>
        <hr>
        <p>&copy; 2023 Your Company, Inc.</p>
    </div>
</footer> -->